<div class="page-area container">
<div class="row justify-content-center ">
    <div class="col-md-6  bg-white rounded shadow py-5 text-left">
       <!-- using  ngform  -->
        <form  (ngSubmit)="onSubmit(myForm)" #myForm="ngForm"> 
           
            <!-- using @viewChild()  to acessing values-->
        <!-- <form  (ngSubmit)="onSubmit()" #myForm="ngForm"> -->
            <div ngModelGroup="userDetail" #userDetails="ngModelGroup">
            <div class="form-group ">
              <label  for="username">Username*</label>
              <input type="text"   class="form-control mt-2" id="username" 
               placeholder="Enter User name"
               name="username" [(ngModel)]="userName" required>
               <small *ngIf="userName">Your User Name is: {{userName}}</small>
               <button class="btn btn-primary btn-sm mt-2 "(click)="setUserName()">Set value</button>
            </div>
            <div class="form-group mt-2">
              <label for="email">Email*</label>
              <input type="email" class="form-control mt-2" id="email" 
              placeholder="Enter Email"
              name="email"ngModel required email #email="ngModel">
              <small  *ngIf="!email.valid && email.touched" class="text-danger">Please Enter Valid Email</small>
            </div>
           </div>
           <span class="text-danger" *ngIf="!userDetails.valid && userDetails.touched">Please Enter Valid Details</span>

            <div class="form-group mt-2 ">
              <label  for="course">Select Course</label>
              <select class="form-control mt-2" id="course"  name="course" [ngModel]="defaultCourse">
                <option value="Angular">Angular</option>
                <option value="JavaScript">JavaScript</option>
                <option value="HTML">HTML</option>
              </select>
            </div>
            <div class="form-group mt-2">
                <div class="custom-control custom-radio" *ngFor="let gender of genders">
                    <input type="radio" id="{{gender.id}}"[ngModel]="defaultGender" value="{{gender.value}}" name="gender" class="custom-control-input" >
                    &nbsp;<label class="custom-control-label"  for="{{gender.id}}">{{gender.value}}</label>
                  </div>
            </div>
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-success">Submit</button>
            
          </form>
        
    </div>
</div>

<div class="row justify-content-center mt-2" *ngIf="submited">
    <div class="form-data col-md-6 text-left bg-white rounded shadow py-3">
        <h2>Form Data</h2>
        <p>Username: <strong>{{ formData.userName}}</strong></p>
        <p>Email:<strong>{{ formData.email}}</strong></p>
        <p>Course:<strong>{{ formData.course}}</strong></p>
        <p>Gender:<strong>{{ formData.gender}}</strong></p>
    </div>
</div>
</div>
