<div class="container">
<h2>Parent-Component</h2>
<div class="row">
    <div class="col parentBox">
        <h2>User</h2>
        <table width="100%">
            <tr>
                <th>User Name:</th>
                <th class="removeLink">Remove</th>
            </tr>
            <tr *ngFor="let user of users;index as i">
                <td>{{user}}</td>
                <td class="removeLink" (click)="onRemoveUsers(i)">Remove</td>
            </tr>
        </table>
    </div>

    <div class="col parentBox">
        <h2>Admin</h2>
        <table width="100%">
            <tr>
                <th>User Name:</th>
                <th class="removeLink">Remove</th>
            </tr>
            <tr *ngFor="let admin of admins; index as i">
                <td>{{admin}}</td>
                <td class="removeLink" (click)="onRemoveAdmins(i)">Remove</td>
            </tr>
        </table>
    </div>
</div>

<h2>Child-Component</h2>
<hr>

<div class="row">
    <app-child [boxColor]="'red'" (inputEvent)="pushUsers($event)" [placeHolderText]="'Create User'"></app-child>
    <app-child [boxColor]="'green'" (inputEvent)="pushAdmins($event)" [placeHolderText]="'Create Admin'"></app-child>
</div>
</div>