
<div class="col-md-12">
    <h1>Luxury Cars</h1>
    <div class="card" >
        <img class="card-img-top" src="../../assets/images/audi.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Audi</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="audi" class="btn btn-info">Audi</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/images/ferrari.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Ferrari</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="ferrari" class="btn btn-info">Ferrari</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/images/mercedes.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Mercedes</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="mercedes" class="btn btn-info">Mercedes</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/images/rollsroyce.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Rolls-Royce</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="rolls" class="btn btn-info">Rolls-Royce</a>
        </div>
      </div>
</div>


