
<div class="col-md-12">
  <p appCustom>Product With Custom Directive</p>
    <div class="card" >
        <img class="card-img-top" src="../../assets/images/laptop.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          
          <h3 class="card-title text-info">Laptop</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a routerLink="laptop" class="btn btn-primary">Laptop</a> -->
          <button class="btn btn-success" (click)="addToCart()">ADD TO CART</button>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/images/mobiles.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          
          <h3 class="card-title text-info">Mobile</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a routerLink="mobile" class="btn btn-primary">Mobile</a> -->
          <button class="btn btn-success" (click)="addToCart()">ADD TO CART</button>

        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/images/camera.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h3 class="card-title text-info">Camera</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a routerLink="camera" class="btn btn-primary">Camera</a> -->
          <button class="btn btn-success" (click)="addToCart()">ADD TO CART</button>

        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/images/watch.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h3 class="card-title text-info">Watch</h3>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a routerLink="watch" class="btn btn-primary">Watch</a> -->
          <button class="btn btn-success" (click)="addToCart()">ADD TO CART</button>

        </div>
      </div>

      
    
</div>

