
<div class="col-md-12">
  <p appCustom>Product With Custom Directive</p>
    <div class="card" >
        <img class="card-img-top" src="../../assets/laptop.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="laptop" class="btn btn-primary">Laptop</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/mobiles.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="mobile" class="btn btn-primary">Mobile</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/camera.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Camera</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="camera" class="btn btn-primary">Camera</a>
        </div>
      </div>

      <div class="card" >
        <img class="card-img-top" src="../../assets/watch.jpg" alt="Card image cap" height="150px">
        <div class="card-body">
          <h5 class="card-title">Watch</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="watch" class="btn btn-primary">Watch</a>
        </div>
      </div>
</div>

