  <div class="container" style="margin-top: 40px;">
    <div *ngFor ="let d of posts">
        <div >{{d.title}}</div>
        <div>
        <img  *ngIf="d.imageUrl; else noImage " [src]="d.imageUrl" alt="" width="300px">
        <ng-template #noImage> <p style="color:red">No image is available</p> </ng-template>
        </div>
    <div *ngIf="d.imageUrl else cont" >
        {{d.content}}
        <ng-template #cont></ng-template>
    </div>
    <hr>
    <br>
    </div>

</div>

<!-- <div  style="margin-left: 15px;">
    <div *ngFor="let p of posts">
        <div>{{p.title}}</div>
        <div>
            <img *ngIf="p.imageUrl; else noImage" width="200px" [src]="p.imageUrl" alt="This is nature image">
          <ng-template #noImage> <p>No image is available</p> </ng-template>
        </div>
        <div>{{p.content}}</div>
        

    </div>
</div> -->


