.box{
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    font-size: 10px;
    width: 300px;
    text-align: center;
}

input{
    background: #fff;
    border: 1px solid #f0f0f0;
    font-size: 15px;
    display: block;
    width: 80%;
    padding: 10px 12px;
}

button{
    background: #28a745;
    font-size: 20px;
    color: #fff;
    padding: 6px 15px;
    margin: 5px auto;
    border-radius: 5px;
    border: 0;
}

.count{
    text-align: left;
}

.boxRed{
    background: #fff7f3;
    border: 1px solid #f75e0b;
}

.boxGreen{
    background: #f4fbf6;
    border: 1px solid #28a745;
}