
.form-group{
    text-align: left;
    padding: 1px;
   
}
.form-data{
    text-align: left;
    padding: 10px;
}

.page-area{
    width: 60%;
    margin: 50px auto;
    padding: 15px;
    min-height: 400px;
    text-align: center;
    /* background: #908f8f; */
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 5px inset rgb(224, 134, 155);
}

.flexContainer {
    display: flex;
}

.inputField {
    flex: 1;
}