<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"> -->
  <!-- <app-test1></app-test1>
  <h1>
    Welcome to {{ title }}!  {{name}}
  </h1> -->
  <!-- <h1>{{emp}}</h1>
  <h1>{{data.name}}   </h1> -->
  <!-- <h3>Date: {{currTime()}}</h3>
  
  <app-demo></app-demo>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <div><img [src]="imgUrl" alt="">
  </div>
</div> -->
<!-- <app-twowaybind></app-twowaybind> -->


<!-- Parent to chind data tranfer -->
<!-- <app-test2 [child]="parentToChild"></app-test2> -->
<!-- <div class="container">
  <br><br>
  <app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> <br><br>
  <app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>
</div> -->



  <!-- <app-pwsgenerate></app-pwsgenerate> -->

  <!-- Child to parent data tranfer -->
  <!-- <app-test2 (fromChild)="onParent($event)"></app-test2> -->
  <!-- <div class="container" style="margin-top:30px ;">
  <app-childtoparent (empFromChlid)="onParentEmp($event)" ></app-childtoparent>

  <h3 >Employee ID: <span style="color:green; font-size: 30px;">{{id}}</span> </h3>
  <h3 >Employee Name: <span style="color:green;font-size: 30px;">{{ename}}</span></h3>
  <h3 >Employee Company: <span style="color:green;font-size: 30px;">{{company}}</span></h3>
  <h3 >Employee Tech: <span style="color:green;font-size: 30px;">{{tech}}</span></h3>
</div> -->

<!-- <app-ngfor></app-ngfor> -->
<!-- <app-ngfor1></app-ngfor1> -->
<!-- <app-ngif></app-ngif> -->
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-ngstyle></app-ngstyle>
<app-ngclass></app-ngclass> -->
<!-- <app-ngstyle1></app-ngstyle1> -->
<!-- <app-exersise1></app-exersise1> -->
<!-- <p appCustom>Custom directive</p> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br>
 -->
 <!-- <app-templateform></app-templateform> -->
<!-- <app-templateform1></app-templateform1> -->
<!-- <app-templateform2></app-templateform2> -->
<!-- <app-reactiveform></app-reactiveform> -->
<app-reactiveform1></app-reactiveform1>
