
<h1>Two way data Bind</h1>
<div class="container">
     <ol class="">
        <li>UserName: &nbsp;<input class="" type="text" [(ngModel)]="uName"></li><br>
        <li><p>{{uName}}</p></li><br>
        <li><button class=" btn btn-info"  (click)="onClick()" >Click Me</button></li>
     </ol>
  </div>

  <button type="button" class="btn btn-primary">Primary</button> &nbsp;
<button type="button" class="btn btn-secondary">Secondary</button>&nbsp;
<button type="button" class="btn btn-success">Success</button>