<div style="margin-left:50px ;margin-top:40px">
    <div>
      <!-- Using ng-container here -->
        <ng-container class="card"  *ngFor="let course of courses"> 
          <div *ngIf="course.id"></div>
            <img class="card-img-top" width="200px" [src]="course.iconURL" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{course.desc}}</h5>
              <div [ngSwitch]="course.category">
                    <div class="btn btn-info" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
                    <div class="btn btn-primary" *ngSwitchCase="'BEGINNER'">Beginner</div>
                    <div class="btn btn-secondary" *ngSwitchCase="'ADVANCED'">Advanced</div>
                    <div class="btn btn-secondary" *ngSwitchDefault>All level</div>
              </div>
            </div>
          </ng-container>
    </div>
</div>


<!-- second switch example -->
<!-- <div class="container">
          <div class="col-md-4">
            <select class="form-control" (change)="getProductValue($event)"> 
              <option value="Default">Select Product</option>
              <option value="Laptop">Laptop</option>
              <option value="Mobile">Mobile</option>
              <option value="TV">TV</option>
              <option value="Washing Machine">Washing Machine</option>

            </select>
          </div>
          <div class="col-md-12" [ngSwitch]="selectedProduct">
            <h2 class="text-success" *ngSwitchCase="'Laptop'"> Laptop</h2>
            <h2 class="text-success" *ngSwitchCase="'Mobile'"> Mobile</h2>
            <h2 class="text-success" *ngSwitchCase="'TV'"> TV</h2>
            <h2 class="text-success" *ngSwitchCase="'Washing Machine'"> Washing Machine</h2>

          </div>
        </div> -->